<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tag practics</title>
</head>
<body>
    <h1>tag practics</h1>
    <h2>tag practics</h2>
    <h3>tag practics</h3>
    <h4>tag practics</h4>
    <h5>tag practics</h5>
    <h6>tag practics</h6>

    <p>
        <!-- 주석입니다~~~ -->
        '주석은:<!-- 주석입니다-->'
        어떤 문장을 표현하고 싶을 때 ... <br/>
        사용하는 태그 입니다.
    </p>

    <a href="http://localhost:9999/hello1">hello world1으로 가기</a>
    <a href="/hello1">hello world1으로 가기 (같은 사이트 내에서는 http 안써도 된다)</a>

    <table boarder="1" cellspacing="0" cellpadding="10">
        <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>d3</td>
        </tr>
        <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
        </tr>
    </table>

    <ul>
        <li>순위</li>
        <li>뉴스</li>
    </ul>

</body>
</html>